<%= form_for(@appext) do |f| %>
  <% if @appext.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appext.errors.count, "error") %> prohibited this appext from being saved:</h2>

      <ul>
      <% @appext.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appid %><br>
    <%= f.number_field :appid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
