<p id="notice"><%= notice %></p>

<p>
  <strong>Appid:</strong>
  <%= @appext.appid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @appext.name %>
</p>

<%= link_to 'Edit', edit_appext_path(@appext) %> |
<%= link_to 'Back', appexts_path %>
